<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
<title>Electronic Store a Ecommerce Online Shopping Category Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- <meta name="keywords" content="Electronic Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" /> -->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- Custom Theme files -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/fasthover.css'%}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/popuo-box.css'%}" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="{% static 'css/font-awesome.css'%}" rel="stylesheet"> 
<!-- //font-awesome icons -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<!-- js -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/jquery.countdown.css' %}" /> <!-- countdown --> 
<!-- //js -->  
<!-- web fonts --> 
<link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //web fonts -->  
<!-- start-smooth-scrolling -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
        $('#id_profile_pic').css({'width':'30%', 'display':'inline-block'})
        $('#id_subtitle').css({'width':'20%', 'display':'inline-block','margin-right':'20px'})
        $('#id_first_name').css({'display':'block'})
    });
    
</script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<style>
    label{
        text-decoration: none;
    }
    label[for=id_subtitle]{
        float:left;
    }
    label[for=id_profile_pic]{
        display:inline-block;
    }
    label[for=id_first_name]{
        display:block;
        margin-top:10px;
    }
</style>{% block style %}{% endblock %}
<!-- //end-smooth-scrolling --> 
</head> 
<body>
	<!-- for bootstrap working -->
	<script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js' %}"></script>
	<!-- //for bootstrap working -->
	<!-- header modal -->
	<div class="modal fade" id="myModal88" tabindex="-1" role="dialog" aria-labelledby="myModal88"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;</button>
					<h4 class="modal-title" id="myModalLabel">Don't Wait, Login now!</h4>
				</div>
				<div class="modal-body modal-body-sub">
					<div class="row">
						<div class="col-md-8 modal_body_left modal_body_left1" style="border-right: 1px dotted #C2C2C2;padding-right:3em;">
							<div class="sap_tabs">	
								<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
									<ul>
										<li class="resp-tab-item" aria-controls="tab_item-0"><span>Sign in</span></li>
										<li class="resp-tab-item" aria-controls="tab_item-1"><span>Sign up</span></li>
									</ul>		
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
										<div class="facts">
											<div class="register">
												<form action="{% url 'uslogin' %}" method="post">	
                                                    {% csrf_token %}		
													<input name="Email" placeholder="Email Address" type="text" required="">						
                                                    <input name="Password" placeholder="Password" type="password" required="">
                                                    <input type="checkbox" name='remember' style='margin-top:10px;'/><span>Remember me</span>										
													<div class="sign-up">
														<input type="submit" value="Sign in" name='signin'/>
													</div>
												</form>
											</div>
										</div> 
									</div>	 
									<div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
										<div class="facts">
											<div class="register">
												<form action="{% url 'myapp:usregister'%}" method="post" enctype="multipart/form-data">	
		
                                                    {% csrf_token %}
                                                    {{form1}}
                                                    {{form}}
													<div class="sign-up">
														<input type="submit" name='signup' id='signup' value="Create Account" disabled/>
													</div>
												</form>
											</div>
										</div>
									</div> 			        					            	      
								</div>	
							</div>
							<script src="{% static 'js/easyResponsiveTabs.js' %}" type="text/javascript"></script>
							<script type="text/javascript">
								$(document).ready(function () {
									$('#horizontalTab').easyResponsiveTabs({
										type: 'default', //Types: default, vertical, accordion           
										width: 'auto', //auto or any width like 600px
										fit: true   // 100% fit in a container
									});
								});
							</script>
							<div id="OR" class="hidden-xs">OR</div>
						</div>
						<div class="col-md-4 modal_body_right modal_body_right1">
							<div class="row text-center sign-with">
								<div class="col-md-12">
									<h3 class="other-nw">Sign in with</h3>
								</div>
								<div class="col-md-12 p-5">
										<a href="{% url 'social:begin' 'google-oauth2' %}"><p class='btn btn-danger btn-block m-5'> <strong style='color:white;'><i class="fab fa-google"></i> Google </strong> </p></a>
									<!-- <ul class="social">
										<li class="social_facebook"><a href="#" class="entypo-facebook"></a></li>
										<li class="social_dribbble"><a href="#" class="entypo-dribbble"></a></li>
										<li class="social_twitter"><a href="#" class="entypo-twitter"></a></li>
										<li class="social_behance"><a href="#" class="entypo-behance"></a></li>
									</ul> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		// $('#myModal88').modal('show');
	</script>  
	<!-- header modal -->
	<!-- header -->
	<div class="header" id="home1">
		<div class="container">
			
            {% if user.is_authenticated %} 
            <div style='margin:10px;'>
				<div class="dropdown">
					<button class="btn text-light" type="button" data-toggle="dropdown" style='background:#3c43a4;color:white;'>
					<i class="fas fa-user"></i>	My Account
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
					  <li><a href="{% url 'myapp:profile'%}">View Profile</a></li>
					  <li><a href="{% url 'myapp:change_profile'%}">Change Profile</a></li>
					  <li><a href="{% url 'myapp:orders'%}">Order History</a></li>
					  <li><a href="{% url 'myapp:pending_orders'%}">Pending Orders</a></li>
					  <li><a href="{% url 'myapp:cart'%}">My Cart</a><hr/></li>
					  <li><a href="{% url 'uslogout'%}">Logout</a></li>
					</ul>
				  </div>
			</div>
            
            {% else %}
            <div class="w3l_login">
                <a href="#" data-toggle="modal" data-target="#myModal88"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
            </div>
            {% endif %}
            
			<div class="w3l_logo">
                <h1><a href="{% url 'index'%}">Electronic Store<span>Your stores. Your place.</span></a></h1>
                <h4 class='text-success'>
                    {% if response %}
                        <script>
                            alert('{{response}}');
                        </script>
                    {% endif %}
                    {% if success %}
                        {{success}}
                    {% endif %}

                </h4>
			</div>
			<div class="search">
				<input class="search_box" type="checkbox" id="search_box">
				<label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
				<div class="search_form">
					<form action="{% url 'myapp:showproducts' %}" method="post">
						{%  csrf_token %}
						<input type="text" name="searchproduct" placeholder="Search...">
						<input type="submit" value="Send" name='Search'>
					</form>
				</div>
			</div>
			<div class="cart cart box_1"> 
				
					<a class="w3view-cart" href='{% url "myapp:cart"%}'><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
		 
			</div>  
		</div>
	</div>
	<!-- //header -->
	<!-- navigation -->
	<div class="navigation">
		<div class="container">
			<nav class="navbar navbar-default navbar-expand">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div> 
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'index' %}" class="act">Home</a></li>	
						<!-- Mega Menu -->
						<li class="dropdown">
							<a href="#" class="" data-toggle="dropdown">Products <b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class='col-md-12'>
										<div class="row">
											{% for i in allcat %}	
												<div class='col-md-4 col-sm-4' style='padding:10px;'>
													<ul class='multi-column-dropdown'>
														<h5>{{i.0}}</h5>
															{% for j in i%}
																<li> <a href="{% url 'myapp:showproducts' %}?searchcat={{i.0}}&&scat={{j.category_name}}">{{j.category_name}}</span></a> </li>
															{% endfor %}
													</ul>
												</div>			
											{% endfor %}
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</ul>
						</li>
						<li><a href="{% url 'myapp:about' %}">About Us</a></li> 
						<li><a href="{% url 'myapp:mail' %}">Contact Us</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<!-- //navigation -->
<div class="container-fluid" style="overflow:hidden">
	{% block body %}

{% endblock %}
</div>
	<!-- newsletter -->
	<!-- <div class="newsletter">
		<div class="container">
			<div class="col-md-6 w3agile_newsletter_left">
				<h3>Newsletter</h3>
				<p>Kindly Subscribeour Newsletter to stay updated</p>
			</div>
			<div class="col-md-6 w3agile_newsletter_right">
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Email" required="">
					<input type="submit" value="" />
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div> -->
	<!-- //newsletter -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="w3_footer_grids">
				<div class="col-md-3 w3_footer_grid">
					<h3>Contact</h3>
					<p>SachTech Solution Pvt. Ltd.,Mohali</p>
					<ul class="address">
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>#C-86, Industrial Area,
							
							 <span>Phase 7 Mohali, India</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@sachtechsolution.com">info@sachtechsolution.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+91-8283828598</li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Information</h3>
					<ul class="info"> 
						<li><a href="{% url 'myapp:about' %}">About Us</a></li>
						<li><a href="{% url 'myapp:mail' %}">Contact Us</a></li>
						<!-- <li><a href="faq.html">FAQ's</a></li> -->
						<li><a href="{% url 'myapp:showproducts' %}">Special Products</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					
					<h3>Category</h3>
					<ul class="info" id='catt'> 
						{% for i in cat %}
							<li><a href="{% url 'myapp:showproducts'%}?searchcat={{i.category_name}}&&scat={{i.category_name}}">{{i.category_name}}</a></li>
						{% endfor %}
					</ul>
					
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Profile</h3>
					<ul class="info"> 
						<li><a href="{% url 'index' %}">Home</a></li>
						<li><a href="{% url 'myapp:showproducts' %}?deal=today">Today's Deals</a></li>
					</ul>
					<h4>Follow Us</h4>
					<div class="agileits_social_button">
						<ul>
							<li><a href="#" class="facebook"> </a></li>
							<li><a href="#" class="twitter"> </a></li>
							<li><a href="#" class="google"> </a></li>
							<li><a href="#" class="pinterest"> </a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="footer-copy">
			<div class="footer-copy1">
				<div class="footer-copy-pos">
					<a href="#home1" class="scroll"><img src="{% static 'images/arrow.png'%}" alt=" " class="img-responsive" /></a>
				</div>
			</div>
			<div class="container">
				<p>&copy; 2017 Electronic Store. All rights reserved | Design by <a href="/">Training Team</a></p>
			</div>
		</div>
	</div>
	<!-- //footer --> 

	<!-- USERNAME VALIDATIONS -->

	<script>
		
	$(function(){
		$('#id_username').keyup(function(){
			var user = $('#id_username').val();
			$.ajax({
				url:'{% url "myapp:uservalid" %}',
				type:'get',
				data:{username:user},
				success:function(data){
					if(data=='Success'){
						$('#id_username').css({border:'1px solid green'});
						$('#signup').removeAttr('disabled');
						$('.helptext').html('<i class="fas fa-success"></i>');
					}
					else{
						$('#id_username').css({border:'1px solid red'});
						$('#signup').attr('disabled','disabled');
						$('.helptext').html(data+'<br/>');
					}
				}
			})
		});
	});
	</script>
	<!-- cart-js -->
	<script src="{% static 'js/minicart.js' %}"></script>
	<script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) { 
        		}
        	}
        });
    </script>  
	<!-- //cart-js -->   

	<!-- ALL ategories -->
	<!-- <script>
	$(function(){
		let cat ='';
		$.ajax({
			url:"{% url 'myapp:base' %}",
			type:'get',
			success:function(data){				
				for(i in data){
					cat+= '<li><a href="products.html">Hello</a></li>';
				}
				
			}

		});
		document.getElementById('catt').innerHTML = cat;
	});
	</script> -->
</body>
</html>
